body {
     font: 100%/1.6 Lato,Helvetica,Arial,sans-serif;
     margin: 0;
     letter-spacing: 2px;
     background-color: #fdfdfd;
}
 li a {
     transition: all 0.5s ease;
     text-transform: uppercase;
}
 h1{
     padding: 13px 15px 8px;
     font-weight: bold;
     font-size: 30px;
}
 a, p {
     padding: 13px 15px 8px;
     font-weight: 400;
     font-size: 15 px;
     color: white;
     text-decoration: none;
}
 hr {
     margin-top: 0.5em;
     margin-bottom: 0.5em;
     border-color: black;
     border-width: 3px;
}
 .dropdown:hover .dropdown-menu {
     display: block;
}
 .logo {
     max-height: 20px;
}
 .background {
     height: calc(100vh);
     background-image: url("../images/background.png");
     background-size: cover;
     background-repeat: no-repeat;
}
 .background-dark{
     background-color: rgba(0, 0, 0, 0.4);
     height: 100%;
}
 .vertical-center {
     text-align: center;
     padding-top: 350px;
}
 .text-main {
     text-align: center;
     text-transform: uppercase;
     color: white !important;
     font-weight: bold;
     font-size: 50px;
}
 .text-main-quote {
     color: white !important;
     font-size: 20px;
}
 .footer {
     background-color: #151515;
}
 .footer p {
     margin: 0;
     padding-top: 40px;
     padding-bottom: 40px;
     color: white;
}
 .main-content a, p {
     color: black;
}
 .border {
     border-color: grey;
     border-width: 1px;
     border-radius: 15px;
}
 .img-center {
     display: block;
     margin: 0 auto;
}
 .padding {
     padding-top: 50px;
}
 .container-fluid {
     padding: 0;
}
 .navbar .navbar-collapse {
     text-align: center;
}
 .navbar {
     background-color: #151515;
}
 .navcust {
     padding-top: 20px;
     padding-bottom: 20px;
}
 .padding-cont {
     padding-top: 60px;
     padding-bottom: 50px;
}
 .margin-cont {
     margin-top: 60px;
     margin-bottom: 50px;
}
 .padding-container {
     padding-top: 150px;
     padding-bottom: 50px;
     margin: 0;
}
 .max-width {
     max-width: 1200px;
}
/* Tour Shedule page */
 table {
     margin-top: 50px;
     margin-bottom: 50px;
     font-family: arial, sans-serif;
     text-align: center;
}
 th, td {
     padding: 10px;
}
